body{
    box-sizing: border-box;
    margin: 0 auto;
    background: rgba(14, 255, 26, 0.4);
}
#wrapper{
    width: 1200px;
    margin: 30px auto;
    /* background-color: red; */
}
#title {
    background-color: white;
    /* display: inline-block; */
    border-radius: 10px;
    font-family: 'Questrial',sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;;
    text-align:center;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;;
    
}

#message{
    display: inline-block;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-family: 'Questrial',sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;;
}

.title {
    padding: 5px;
    font-size: 24px;
    text-align: center;
    font-family: 'Questrial',sans-serif;
    font-weight: bold;
    border-bottom: 2px solid black;
}
.container {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 200px;
    word-wrap: break-word;
    font-family: 'Questrial',sans-serif;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 8px;
    margin-left: 4.8vh;
}
.time {
    font-size: 10px;
    font-family: 'Questrial',sans-serif;
}
.Btn{
    width: 200px;
    margin-top: 10px;
    margin: 0 auto;
}
input[type="color"]{
    width: 32px;
    height: 32px;
    display: inline-block;
}


#addNoteBtn {
    color: #fff !important;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Questrial',sans-serif;
    font-weight: bold;
}

#addNoteBtn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
}
#textBtn{
    font-family: 'Questrial',sans-serif;
    font-weight: bold;
    font-size: 17px;
}


